OPENAI_API_KEY=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
MODEL_NAME=gpt-4.1-mini
EMBEDDING_MODEL=text-embedding-3-small
VECTOR_STORE_PATH=data/processed/chroma
